<a href="https://colab.research.google.com/github/jtwang99/AIA/blob/master/Attrs%2BCattrs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install Attrs & Cattrs libraries

In [ ]:
!pip install attrs
!pip install cattrs

Requirement already satisfied: attrs in /usr/local/lib/python3.6/dist-packages (19.3.0)
Requirement already satisfied: cattrs in /usr/local/lib/python3.6/dist-packages (1.0.0)
Requirement already satisfied: attrs>=17.3 in /usr/local/lib/python3.6/dist-packages (from cattrs) (19.3.0)

In [ ]:
from attr import attrs, attrib
import cattr

# Basic Usage

In [ ]:
from typing import Tuple

In [ ]:
cattr.structure([1.01, True, False, "2", "I will be ignored"], Tuple[int, int, int, int])

(1, 1, 0, 2)

# Cattrs work with Attrs

In [ ]:
@attrs
class Person:
  name = attrib()
  age = attrib()

  def tell_age(self):
    print(f'My name is {self.name} and my age is {self.age}.')

In [ ]:
from attr import asdict

p1 = Person('Chris', 32)
asdict(p1)

{'age': 32, 'name': 'Chris'}

In [ ]:
cattr.unstructure(p1)

{'age': 32, 'name': 'Chris'}

In [ ]:
p2 = cattr.structure({'name': 'Chelsea', 'age': 1}, Person)
p2

Person(name='Chelsea', age=1)

In [ ]:
p2.tell_age()

My name is Chelsea and my age is 1.

# Cattrs works with a list of dictionaries

In [ ]:
p_list_raw = [
  {'name': 'Alice', 'age': 20},
  {'name': 'Bob', 'age': 25},
  {'name': 'Chris', 'age': 32}
]

In [ ]:
from typing import List

p_list = cattr.structure(p_list_raw, List[Person])
p_list

[Person(name='Alice', age=20),
 Person(name='Bob', age=25),
 Person(name='Chris', age=32)]

In [ ]:
for p in p_list:
  p.tell_age()

My name is Alice and my age is 20.
My name is Bob and my age is 25.
My name is Chris and my age is 32.

# Works with JSON

In [ ]:
p_list

[Person(name='Alice', age=20),
 Person(name='Bob', age=25),
 Person(name='Chris', age=32)]

In [ ]:
import json

json_obj = json.dumps(cattr.unstructure(p_list))
print(json_obj)

[{"name": "Alice", "age": 20}, {"name": "Bob", "age": 25}, {"name": "Chris", "age": 32}]

In [ ]:
p_list = cattr.structure(json.loads(json_obj), List[Person])
p_list

[Person(name='Alice', age=20),
 Person(name='Bob', age=25),
 Person(name='Chris', age=32)]

In [ ]:
for p in p_list:
  p.tell_age()

My name is Alice and my age is 20.
My name is Bob and my age is 25.
My name is Chris and my age is 32.